body {
    background-color: blanchedalmond;
}
h1 {
    color: gold;
    font-family: Helvetica;
    font-size: 300%;
}

/* id Selector use -> "#" */
#test1 {
    color: rgb(233, 116, 38);
    font-family: Arial;
    font-size: 150%;
}

/* class Selector use -> "." */
/* class can select only para. ex. "p.test2" */
.test2 {
    color: blue;
    font-size: 200%;
}
table#t01 ,th, td{
    color: blueviolet;
    border: 1px solid black; /* Add Border */
    border-collapse: collapse; /* Collapse Border */
}
th, td{
    padding: 15px; /* add padding between element inside table */
}
/* Alignment Table */
th{
    text-align: center;
}
td{
    text-align: right;
}

